{{>partials/header}}

<form method="POST" action="/novoUsuario">
    <input type="text" name="primeiroNome" placeholder="digite seu nome"><br>
    <input type="text" name="Sobrenome" placeholder="digite seu sobrenome"><br>
    <input type="text" name="idade" placeholder="digite sua idade"><br>
    <input type="text" name="email" placeholder="digite seu email"><br>
    <input type="text" name="interesses" placeholder="digite seus interesses(separando por virgula)"><br>
    <input type="submit" value="inserir"/>

</form>
<hr/>
<h2>Usuarios</h2>
<ul>
{{#users}}
    <li>Nome: {{nome.primeiroNome}} - idade: {{idade}} anos <a href="/usuario/{{_id}}/addIdade">+1 ano de vida</a></li>
{{/users}}

</ul>

<hr/>



{{>partials/footer}}